<a href="https://colab.research.google.com/github/aayushbhurtel/Discrete_Math/blob/main/BhurtelAayush_CPSMA_3913_Project_6_Numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Module 6 : Numbers**

CPSMA 3913. Discrete Mathematics

Student: Aayush Bhurtel

Instructor : Dr. Jacob

here i am going to create a function which will allow me to pass an argument and calculate a result depending on conversion factor.

In [222]:
def convertToDecimal(num, baseFrom):
  x  = list(str(num))
  answer = 0
  count = 1
  # create a dict 
  assign = {'a': '10',
            'b': '11',
            'c': '12',
            'd': '13',
            'e': '14',
            'f': '15'}
  for i in num:
    if i in assign:
      i = assign.get(i)    
    answer = answer + int(i) * (baseFrom**(len(num)- count))
    count += 1
  print(answer)

def convertToHexa(number, baseFrom):
  final = ''
  # create a dict 
  assigns = {10: 'a',
            11: 'b',
            12: 'c',
            13: 'd',
            14: 'e',
            15: 'f'}
  num = int(number)
  answer = []
  while (num > 9):
    result = int(num % 16)
    answer.append(result)
    num = num / 16
  #print(answer)
  for x in answer:
    if x in assigns:
      final = final + assigns.get(x)
  print(final[::-1])

a) Convert the number 24036 of base 7 into base ten.

In [182]:
convertToDecimal('20',7)

14

(b) Convert the hexadecimal number 72e3 or 0x72e3 into base ten.

In [183]:
convertToDecimal('72e3',16)

29411

(c) Convert 3735928559 into hexadecimal.

In [223]:
convertToHexa(3735928559, 16)

deadbeef

(d) Using two’s complement preform the base ten subtraction 25 − 37. Check your answer.

In [235]:
# 25 in binary
store = bin(25)
print(store[2::])

11001

In [237]:
# 37 in binary
print(bin(37)[2::])

100101

-37